# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Test and coverage
.coverage
htmlcov/
.tox/

# Environment variables
.env
.env.*

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Others
*.sqlite3
*.db

# Ignore data files
app/data/
